<div class="container">
    <div class="intro-section text-center text-light p-20">
        <h1>Đây là trang Home</h1>
        <p>Trang này hiển thị danh sách các sản phẩm, kèm ảnh</p>
        <p>Các bạn có thể ghé mua hàng tại đây</p>
    </div>

    <div class="search-box mb-2 d-flex align-items-center justify-content-center">
        <input type="text" class="form-control search-input" placeholder="Tìm kiếm sản phẩm" />
        <select class="form-control product-category" >
            <option selected disabled>Danh mục sản phẩm</option>
            <option value="">Đồ điện tử</option>
            <option value="">Đồ gia dụng</option>
            <option value="">Thời trang</option>
        </select>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="../../assets/NoImageProduct-P.png" class="product-image" alt="product-image">
                <h3 class="product-name text-light">Tên sản phẩm 1</h3>
                <p class="product-description">lorem</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>1.000.000 VNĐ</del> 500.000 VNĐ</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-alt"></i>
                </div>

                <div class="product-action d-flex gap-2 justify-content-center mt-2">
                    <button class="btn btn-primary">Thêm vào giỏ</button>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="../../assets/NoImageProduct-P.png" class="product-image" alt="product-image">
                <h3 class="product-name text-light">Tên sản phẩm 2</h3>
                <p class="product-description">lorem</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>1.000.000 VNĐ</del> 500.000 VNĐ</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-alt"></i>
                </div>

                <div class="product-action d-flex gap-2 justify-content-center mt-2">
                    <button class="btn btn-primary">Thêm vào giỏ</button>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="../../assets/NoImageProduct-P.png" class="product-image" alt="product-image">
                <h3 class="product-name text-light">Tên sản phẩm 3</h3>
                <p class="product-description">lorem</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>1.000.000 VNĐ</del> 500.000 VNĐ</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-alt"></i>
                </div>

                <div class="product-action d-flex gap-2 justify-content-center mt-2">
                    <button class="btn btn-primary">Thêm vào giỏ</button>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="../../assets/NoImageProduct-P.png" class="product-image" alt="product-image">
                <h3 class="product-name text-light">Tên sản phẩm 4</h3>
                <p class="product-description">lorem</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>1.000.000 VNĐ</del> 500.000 VNĐ</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-alt"></i>
                </div>

                <div class="product-action d-flex gap-2 justify-content-center mt-2">
                    <button class="btn btn-primary">Thêm vào giỏ</button>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="../../assets/NoImageProduct-P.png" class="product-image" alt="product-image">
                <h3 class="product-name text-light">Tên sản phẩm 5</h3>
                <p class="product-description">lorem</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>1.000.000 VNĐ</del> 500.000 VNĐ</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-alt"></i>
                </div>

                <div class="product-action d-flex gap-2 justify-content-center mt-2">
                    <button class="btn btn-primary">Thêm vào giỏ</button>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
            
    </div>
</div>