<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-section">
                <h4>Về Chúng Tôi</h4>
                <p>Takopi Shop - Nơi mua sắm trực tuyến uy tín, chất lượng hàng đầu. Chúng tôi cam kết mang đến cho bạn những sản phẩm tốt nhất với giá cả hợp lý.</p>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            
            <div class="col-md-4 footer-section">
                <h4>Liên Kết Nhanh</h4>
                <ul class="footer-links">
                    <li><a href="#"><i class="fas fa-angle-right"></i> Trang chủ</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i> Sản phẩm</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i> Giới thiệu</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i> Liên hệ</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i> Chính sách bảo mật</a></li>
                </ul>
            </div>
            
            <div class="col-md-4 footer-section">
                <h4>Liên Hệ</h4>
                <ul class="contact-info">
                    <li><i class="fas fa-map-marker-alt"></i> 123 Đường ABC, Quận XYZ, TP.HCM</li>
                    <li><i class="fas fa-phone"></i> (+84) 123 456 789</li>
                    <li><i class="fas fa-envelope"></i> contact@takopishop.com</li>
                    <li><i class="fas fa-clock"></i> 8:00 - 22:00 (Hàng ngày)</li>
                </ul>
            </div>
        </div>
        
        <div class="footer-bottom">
            <p>&copy; 2025 Takopi Shop. All rights reserved. Made with <i class="fas fa-heart"></i> by DontWait</p>
        </div>
    </div>
</footer>

